@import "./libs/normalize";
@import "./fonts.scss";
@import "./var";
@import "./modal";
@import "./city";
@import "./reviews";
@import "./chat.scss";
body {
  margin-top: 110px;
  margin-bottom: 110px;
  background-color: $main;
}
.container {
  font-family: "KievitPro";
  max-width: 880px;
  background-color: #fff;
  margin: 0 auto;
}
.title-block {
  font-size: 30px;
  font-weight: 600;
}
